<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\\logs\\lawtrust\\BlankService.log" />
      <param name="AppendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="16" />
      <param name="maximumFileSize" value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" type="log4net.Util.PatternString" value="&#xD;&#xA;[LOG BEGIN - %date{yyyy-MM-dd HH:mm:ss.fff}] &#xD;&#xA;" />
        <param name="Footer" type="log4net.Util.PatternString" value="[LOG END - %date{yyyy-MM-dd HH:mm:ss.fff}] &#xD;&#xA;" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="log4net.Config" value="log4net.simple.config" />
    <!-- Where is your Excel Spreadsheet-->
    <add key="filePath" value="C:\Users\sven.LAWTRUST\Desktop\Export.xlsx" />
    <!-- Must start with a . (options xls or xlsx)-->
    <add key="fileExtension" value=".xlsx" />
    <!-- Amount of time between checks - in milliseconds-->
    <add key="intervals" value="5000" />
    <add key="SMTPurl" value="xxx.xxx.xxx.xxx" />
    <add key="SMTPport" value="25" />
    <add key="SMTPuser" value="" />
    <add key="SMTPpassword" value="" />
    <add key="EMAILfrom" value="email@domain.co.za" />
    <add key="EMAILbody" value="************************ $$NL$$ URGENT ESCALATION NOTICE $$NL$$ ************************ $$NL$$ This certificate will expire in less than $$days$$ days and must be renewed now to avoid a potential INCIDENT. $$NL$$ $$NL$$ Please ensure your Requesters IMMEDIATELY renew this certificate.  If it is no longer required please move it to the Archive folder to stop reminders. $$NL$$ $$NL$$	$$ManagedDN$$ $$NL$$ $$NL$$ Live Environment $$NL$$ CA: $$SubjectAlt$$ $$NL$$ CN: $$CommonName$$ $$NL$$ Expires: $$expiryDate$$" />
    <add key="EMAILsubject" value="Certificate is set to expire" />
    <add key="bccManager" value="email@domain.co.za" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>